.Search {
  text-align: center;
  display: flex;
  user-select: none;
}
  
.Searchbar {
  position: relative;
  user-select: none;
  top: 10px;
  width: 15vw;
  height: 2vh;
  color: black;
  background: white;
  z-index: 100;
}