.SingleButton {
  display: flex;
  position: relative;
  left: 8vw;
  width: 7vw;
  height: 2vh;
  color: black;
  background: #EBFF00;
  z-index: 100;
  border: none;
}

.SingleButtonText {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  position: relative;
  left: 2vw;
}