.SingleButton {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -1vh;
  left: 8vw;
  width: 7vw;
  height: 2vh;
  color: black;
  background: #EBFF00;
  z-index: 100;
  border: none;
  user-select: none;
}

.SingleButtonComponent {
  display: flex;
  flex-direction: column;
  margin-bottom: -1vh;
}

.SingleButtonText {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  position: relative;
  left: 2vw;
  user-select: none;
}