.StopButton {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1vh;
  width: 7vw;
  height: 2vh;
  color: black;
  background: #FF0000;
  z-index: 100;
  border: none;
  user-select: none;
}

.StopButtonComponent {
  display: flex;
  flex-direction: column;
}

.StopButtonText {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  position: relative;
  left: 2vw;
  user-select: none;
}