.SideBar {
  text-align: center;
  flex-direction: column;
  display: flex;
  position: fixed;
  right: 0;
  width: 15vw;
  height: 100vh;
  color: white;
  background: #2E2E2E;
  z-index: 101;
  overflow-y: scroll;
  overflow-x: hidden;
}

.CoreButtonsComponent {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0;
  width: 15vw;
  height: 2vh;
  color: white;
  background: #2E2E2E;
  z-index: 100;
  overflow-y: hidden;
  overflow-x: hidden;
}

.SideBarComponent {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0;
  width: 15vw;
  height: 100vh;
  color: white;
  background: #2E2E2E;
  z-index: 101;
  overflow-y: scroll;
  overflow-x: hidden;
}