[submodule "Firmware/LiteX"]
	path = Firmware/LiteX
	url = https://github.com/enjoy-digital/thunderscope
[submodule "Software/scopehal-apps"]
	path = Software/scopehal-apps
	url = https://github.com/glscopeclient/scopehal-apps
[submodule "Software/TS.NET"]
	path = Software/TS.NET
	url = https://github.com/macaba/TS.NET
