[submodule "Firmware/LiteX"]
	path = Firmware/LiteX
	url = https://github.com/EEVengers/thunderscope_litex/tree/main
[submodule "Software/scopehal-apps"]
	path = Software/scopehal-apps
	url = https://github.com/ngscopeclient/scopehal-apps/tree/master
[submodule "Software/TS.NET"]
	path = Software/TS.NET
	url = https://github.com/macaba/TS.NET/tree/main
