[submodule "Firmware/LiteX"]
	path = Firmware/LiteX
	url = https://github.com/enjoy-digital/thunderscope
[submodule "Software/scopehal-apps"]
	path = Software/scopehal-apps
	url = https://github.com/glscopeclient/scopehal-apps
