NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 100 MHz HIGH 50%;

NET "clk" LOC = P124 | IOSTANDARD = LVTTL;

NET "d_out<0>" LOC = P26 | IOSTANDARD = LVTTL;
NET "d_out<1>" LOC = P24 | IOSTANDARD = LVTTL;
NET "d_out<2>" LOC = P23 | IOSTANDARD = LVTTL;
NET "d_out<3>" LOC = P22 | IOSTANDARD = LVTTL;
NET "d_out<4>" LOC = P21 | IOSTANDARD = LVTTL;
NET "d_out<5>" LOC = P17 | IOSTANDARD = LVTTL;
NET "d_out<6>" LOC = P16 | IOSTANDARD = LVTTL;
NET "d_out<7>" LOC = P15 | IOSTANDARD = LVTTL;
NET "d_out<8>" LOC = P14 | IOSTANDARD = LVTTL;
NET "d_out<9>" LOC = P12 | IOSTANDARD = LVTTL;
NET "d_out<10>" LOC = P11 | IOSTANDARD = LVTTL;
NET "d_out<11>" LOC = P10 | IOSTANDARD = LVTTL;
NET "d_out<12>" LOC = P9 | IOSTANDARD = LVTTL;
NET "d_out<13>" LOC = P8 | IOSTANDARD = LVTTL;
NET "d_out<14>" LOC = P7 | IOSTANDARD = LVTTL;
NET "d_out<15>" LOC = P6 | IOSTANDARD = LVTTL;
NET "d_out<16>" LOC = P5 | IOSTANDARD = LVTTL;
NET "d_out<17>" LOC = P2 | IOSTANDARD = LVTTL;
NET "d_out<18>" LOC = P1 | IOSTANDARD = LVTTL;
NET "d_out<19>" LOC = P143 | IOSTANDARD = LVTTL;
NET "d_out<20>" LOC = P142 | IOSTANDARD = LVTTL;
NET "d_out<21>" LOC = P141 | IOSTANDARD = LVTTL;
NET "d_out<22>" LOC = P140 | IOSTANDARD = LVTTL;
NET "d_out<23>" LOC = P139 | IOSTANDARD = LVTTL;
NET "d_out<24>" LOC = P138 | IOSTANDARD = LVTTL;
NET "d_out<25>" LOC = P137 | IOSTANDARD = LVTTL;
NET "d_out<26>" LOC = P134 | IOSTANDARD = LVTTL;
NET "d_out<27>" LOC = P133 | IOSTANDARD = LVTTL;
NET "d_out<28>" LOC = P132 | IOSTANDARD = LVTTL;
NET "d_out<29>" LOC = P131 | IOSTANDARD = LVTTL;
NET "d_out<30>" LOC = P127 | IOSTANDARD = LVTTL;
NET "d_out<31>" LOC = P126 | IOSTANDARD = LVTTL;

NET "be<0>" LOC = P123 | IOSTANDARD = LVTTL;
NET "be<1>" LOC = P121 | IOSTANDARD = LVTTL;
NET "be<2>" LOC = P120 | IOSTANDARD = LVTTL;
NET "be<3>" LOC = P119 | IOSTANDARD = LVTTL;

NET "txe_n" LOC = P118 | IOSTANDARD = LVTTL;
NET "wr_n" LOC = P116 | IOSTANDARD = LVTTL;