NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 32 MHz HIGH 50%;

NET "clk" LOC = P87 | IOSTANDARD = LVTTL;

NET "ft2_data<0>" LOC = P104 | IOSTANDARD = LVTTL;
NET "ft2_data<1>" LOC = P102 | IOSTANDARD = LVTTL;
NET "ft2_data<2>" LOC = P101 | IOSTANDARD = LVTTL;
NET "ft2_data<3>" LOC = P100 | IOSTANDARD = LVTTL;
NET "ft2_data<4>" LOC = P99 | IOSTANDARD = LVTTL;
NET "ft2_data<5>" LOC = P98 | IOSTANDARD = LVTTL;
NET "ft2_data<6>" LOC = P97 | IOSTANDARD = LVTTL;
NET "ft2_data<7>" LOC = P95 | IOSTANDARD = LVTTL;

NET "ft2_rxf_n" LOC = P94 | IOSTANDARD = LVTTL;
NET "ft2_txe_n" LOC = P93 | IOSTANDARD = LVTTL;

NET "ft2_rd_n" LOC = P92 | IOSTANDARD = LVTTL;
NET "ft2_wr_n" LOC = P88 | IOSTANDARD = LVTTL;

NET "fe_scl" LOC = P85 | IOSTANDARD = LVTTL;
NET "fe_sda" LOC = P84 | IOSTANDARD = LVTTL;

NET "fifo_empty" LOC = P114 | IOSTANDARD = LVTTL;
NET "fifo_wr_en" LOC = P112 | IOSTANDARD = LVTTL;
NET "fifo_rd_en" LOC = P111 | IOSTANDARD = LVTTL;