.Channel {
  text-align: center;
  display: flex;
}

.Channel1 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 15vw;
  height: 2vh;
  background: #4b4b4b;
  z-index: 1000;
  user-select: none;
}

.Channel2 {
  position: fixed;
  left: 15vw;
  bottom: 0;
  width: 15vw;
  height: 2vh;
  background: #4b4b4b;
  z-index: 1000;
}

.Channel3 {
  position: fixed;
  left: 30vw;
  bottom: 0;
  width: 15vw;
  height: 2vh;
  background: #4b4b4b;
  z-index: 1000;
  user-select: none;
}

.Channel4 {
  position: fixed;
  left: 45vw;
  bottom: 0;
  width: 15vw;
  height: 2vh;
  background: #4b4b4b;
  z-index: 1000;
  user-select: none;
}