.Trigger {
  position: fixed;
  display: flex;
}

.TriggerStatus {
  color: white;
  position: fixed;
  left: 70vw;
  bottom: 0;
  width: 15vw;
  height: 2vh;
  background: #4b4b4b;
  z-index: 1000;
  user-select: none;
}