.TimePerDivision {
  display: flex;
  position: fixed;
}

.TimePerDivisionComponent {
  position: fixed;
  color: white;
  left: 60vw;
  bottom: 0;
  width: 15vw;
  height: 2vh;
  background: black;
  z-index: 1000;
}