.SingleButton {
  display: flex;
  position: relative;
  left: 8vw;
  width: 7vw;
  height: 2vh;
  color: black;
  background: yellow;
  z-index: 100;
}

.SingleButtonText {
  display: flex;
  position: relative;
  left: 2vw;
}