.StopButton {
  display: flex;
  position: relative;
  top: 2vh;
  width: 7vw;
  height: 2vh;
  color: black;
  background: red;
  z-index: 100;
}

.StopButtonText {
  display: flex;
  position: relative;
  left: 2vw;
}