NET "clk_32" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 32 MHz HIGH 50%;

NET "clk_32" LOC = P87 | IOSTANDARD = LVTTL;

NET "ft2_d_in<0>" LOC = P104 | IOSTANDARD = LVTTL;
NET "ft2_d_in<1>" LOC = P102 | IOSTANDARD = LVTTL;
NET "ft2_d_in<2>" LOC = P101 | IOSTANDARD = LVTTL;
NET "ft2_d_in<3>" LOC = P100 | IOSTANDARD = LVTTL;
NET "ft2_d_in<4>" LOC = P99 | IOSTANDARD = LVTTL;
NET "ft2_d_in<5>" LOC = P98 | IOSTANDARD = LVTTL;
NET "ft2_d_in<6>" LOC = P97 | IOSTANDARD = LVTTL;
NET "ft2_d_in<7>" LOC = P95 | IOSTANDARD = LVTTL;

NET "ft2_rxf_n_in" LOC = P94 | IOSTANDARD = LVTTL;
NET "ft2_rd_n_out" LOC = P92 | IOSTANDARD = LVTTL;
NET "ft2_wr_n_out" LOC = P88 | IOSTANDARD = LVTTL;

NET "ser_out" LOC = P82 | IOSTANDARD = LVTTL;
NET "ser_clk" LOC = P81 | IOSTANDARD = LVTTL;
NET "cs_n" LOC = P115 | IOSTANDARD = LVTTL;