.DisplayValueBlockComponent {
  margin-top: 1vh;
}

.DisplayValueBlockLeftValue {
  padding-left: 2vw;
  float: left;
}

.DisplayValueBlockRightValue {
  padding-right: 2vw;
  float: right;
}

.ClearBlock {
  clear: both;
}