NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 32 MHz HIGH 50%;

NET "clk" LOC = P87 | IOSTANDARD = LVTTL;

NET "d_in<0>" LOC = P104 | IOSTANDARD = LVTTL;
NET "d_in<1>" LOC = P102 | IOSTANDARD = LVTTL;
NET "d_in<2>" LOC = P101 | IOSTANDARD = LVTTL;
NET "d_in<3>" LOC = P100 | IOSTANDARD = LVTTL;
NET "d_in<4>" LOC = P99 | IOSTANDARD = LVTTL;
NET "d_in<5>" LOC = P98 | IOSTANDARD = LVTTL;
NET "d_in<6>" LOC = P97 | IOSTANDARD = LVTTL;
NET "d_in<7>" LOC = P95 | IOSTANDARD = LVTTL;

NET "rxf_n_in" LOC = P94 | IOSTANDARD = LVTTL;

NET "rd_n_out" LOC = P92 | IOSTANDARD = LVTTL;
NET "wr_n_out" LOC = P88 | IOSTANDARD = LVTTL;

NET "d_out<0>" LOC = P85 | IOSTANDARD = LVTTL;
NET "d_out<1>" LOC = P84 | IOSTANDARD = LVTTL;
NET "d_out<2>" LOC = P82 | IOSTANDARD = LVTTL;
NET "d_out<3>" LOC = P81 | IOSTANDARD = LVTTL;
NET "d_out<4>" LOC = P115 | IOSTANDARD = LVTTL;
NET "d_out<5>" LOC = P114 | IOSTANDARD = LVTTL;
NET "d_out<6>" LOC = P112 | IOSTANDARD = LVTTL;
NET "d_out<7>" LOC = P111 | IOSTANDARD = LVTTL;

NET "rxf_n_out" LOC = P83 | IOSTANDARD = LVTTL;
NET "rd_n_buf" LOC = P80 | IOSTANDARD = LVTTL;

NET "led<0>" LOC = P35 | IOSTANDARD = LVTTL;
NET "led<1>" LOC = P34 | IOSTANDARD = LVTTL;
NET "led<2>" LOC = P33 | IOSTANDARD = LVTTL;
NET "led<3>" LOC = P32 | IOSTANDARD = LVTTL;

