.HorizontalWidget {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.WidgetTitle {
  background-color: #4B4B4B;
  color: black;
  margin: 10px;
}

.AdjustValueBlockHorizontalTimeBase {
  padding-left: 2vw;
  padding-right: 2vw;
}

.HorizontalWidgetAdjustBlock-HorizontalOffset {
  margin-top: 1vh;
}

.AdjustValueBlockHorizontalOffset {
  padding-left: 2vw;
  padding-right: 2vw;
}