.HorizontalWidget {
  text-align: center;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.WidgetTitle {
  background-color: #4B4B4B;
  color: black;
  margin: 10px;
}

.TimeBaseTitle {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-bottom: 1vh;
}

.HorizontalOffsetTitle {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-top: 1vh;
}

.CourseControlButton {
  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vh;
}

.FineControlButton {
  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vh;
}

.AdjustValueBlockHorizontalTimeBase {
  padding-left: 2vw;
  padding-right: 2vw;
}

.HorizontalWidgetAdjustBlock-HorizontalOffset {
  margin-top: 1vh;
}

.AdjustValueBlockHorizontalOffset {
  padding-left: 2vw;
  padding-right: 2vw;
}

.NanoSecondButton {
  margin-top: 1vh;
}

.NanoSecondButtonText {
  user-select: none;
}

.MicroSecondButtonText {
  user-select: none;
}

.MilliSecondButtonText {
  user-select: none;
}

.SecondButtonText {
  user-select: none;
}


