.MathWidget {
  text-align: center;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.WidgetTitle {
  background-color: #4B4B4B;
  color: black;
  margin: 10px;
}

.MathModeTitle {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-bottom: 1vh;
}

.Channel1Title {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.Channel2Title {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.OperatorTitle {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-bottom: 1vh;
  margin-top: 1vh;
}