.MeasurementsWidget {
  user-select: none;
}

.ClearBlock {
  clear: both;
}

.Channel1Measurements-Title {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.Channel1Measurements {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.Channel1-MaxLabel {
  padding-left: 3vw;
  float: left;
}

.Channel1-MaxValue {
  padding-right: 3vw;
  float: right;
}

.Channel1-MinLabel {
  padding-left: 3vw;
  float: left;
}

.Channel1-MinValue {
  padding-right: 3vw;
  float: right;
}

.Channel2Measurements-Title {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.Channel2Measurements {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.Channel2-MaxLabel {
  padding-left: 3vw;
  float: left;
}

.Channel2-MaxValue {
  padding-right: 3vw;
  float: right;
}

.Channel2-MinLabel {
  padding-left: 3vw;
  float: left;
}

.Channel2-MinValue {
  padding-right: 3vw;
  float: right;
}

.Channel3Measurements-Title {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.Channel3Measurements {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.Channel3-MaxLabel {
  padding-left: 3vw;
  float: left;
}

.Channel3-MaxValue {
  padding-right: 3vw;
  float: right;
}

.Channel3-MinLabel {
  padding-left: 3vw;
  float: left;
}

.Channel3-MinValue {
  padding-right: 3vw;
  float: right;
}

.Channel4Measurements-Title {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.Channel4Measurements {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.Channel4-MaxLabel {
  padding-left: 3vw;
  float: left;
}

.Channel4-MaxValue {
  padding-right: 3vw;
  float: right;
}

.Channel4-MinLabel {
  padding-left: 3vw;
  float: left;
}

.Channel4-MinValue {
  padding-right: 3vw;
  float: right;
}