.MeasurementsWidget {
  user-select: none;
}

.MeasurementsWidget-Min {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.DisplayValue-MaxLabel {
  padding-left: 2vw;
  float: left;
}

.DisplayValue-MaxValue {
  padding-right: 2vw;
  float: right;
}

.DisplayValue-MinLabel {
  padding-left: 2vw;
  float: left;
}

.DisplayValue-MinValue {
  padding-right: 2vw;
  float: right;
}

.ClearBlock {
  clear: both;
}