.MeasurementsWidget {
  user-select: none;
}

.MeasurementsWidgetDisplayValueBlock-Value2 {
  margin-top: 1vh;
}

.DisplayValueBlockLeftValue1 {
  padding-left: 2vw;
  float: left;
}

.DisplayValueBlockLeftValue2 {
  padding-left: 2vw;
  float: left;
}

.DisplayValueBlockRightValue1 {
  padding-right: 2vw;
  float: right;
}

.DisplayValueBlockRightValue2 {
  padding-right: 2vw;
  float: right;
}

.ClearBlock {
  clear: both;
}