.TriggerWidget {
  text-align: center;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.WidgetTitle {
  background-color: #4B4B4B;
  color: black;
  margin: 10px;
}

.AdjustChannelBlockValue {
  padding-left: 2vw;
  padding-right: 2vw;
}

.TriggerWidgetAdjustTriggerType {
  margin-top: 1vh;
}

.TriggerWidgetAdjustTriggerLevel {
  margin-top: 1vh;
}
