.TriggerWidget {
  text-align: center;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.WidgetTitle {
  background-color: #4B4B4B;
  color: black;
  margin: 10px;
}

.TriggerWidgetAdjustTriggerLevelValue {
  margin-top: 1vh;
}

.TriggerWidgetAdjustTriggerLevelUnit {
  margin-top: 1vh;
  position: relative;
  align-self: center;
}

.ChannelTitle {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  font-weight: bold;
}

.TriggerModeTitle {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-weight: bold;
}

.TriggerLevelTitle {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-top: 1vh;
  font-weight: bold;
}

.NanoVoltButtonText {
  user-select: none;
}

.MicroVoltButtonText {
  user-select: none;
}

.MilliVoltButtonText {
  user-select: none;
}

.VoltButtonText {
  user-select: none;
}


