.TriggerWidget {
  text-align: center;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.WidgetTitle {
  background-color: #4B4B4B;
  color: black;
  margin: 10px;
}

.AdjustChannelBlockValue {
  padding-left: 2vw;
  padding-right: 2vw;
}

.TriggerWidgetAdjustTriggerType {
  margin-top: 1vh;
}

.TriggerWidgetAdjustTriggerLevelValue {
  margin-top: 1vh;
}

.TriggerWidgetAdjustTriggerLevelUnit {
  margin-top: 1vh;
  position: relative;
}

.NanoVoltButton {
  margin-right: 1vw;
}

.NanoVoltButtonText {
  user-select: none;
}

.MicroVoltButton {
  margin-right: 1vw;
  margin-left: 1vw;
}

.MicroVoltButtonText {
  user-select: none;
}

.MilliVoltButton {
  margin-right: 1vw;
  margin-left: 1vw;
}

.MilliVoltButtonText {
  user-select: none;
}

.VoltButton {
  margin-right: 1vw;
  margin-left: 1vw;
}

.VoltButtonText {
  user-select: none;
}


