.VerticalWidget {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.WidgetTitle {
  background-color: #4B4B4B;
  color: black;
  margin: 10px;
}

.AdjustChannelBlockValue {
  padding-left: 2vw;
  padding-right: 2vw;
}

.VerticalWidgetAdjustBlock-Value1 {
  margin-top: 1vh;
}

.AdjustValueBlockValue1 {
  padding-left: 2vw;
  padding-right: 2vw;
}

.VerticalWidgetAdjustBlock-Value2 {
  margin-top: 1vh;
}

.AdjustValueBlockValue2 {
  padding-left: 2vw;
  padding-right: 2vw;
}