.VerticalWidget {
  text-align: center;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.WidgetTitle {
  background-color: #4B4B4B;
  color: black;
  margin: 10px;
}

.AdjustChannelBlockValue {
  padding-left: 2vw;
  padding-right: 2vw;
}

.VerticalWidgetAdjustBlock-TimePerDivision {
  margin-top: 1vh;
}

.AdjustValueBlockTimePerDivision {
  padding-left: 2vw;
  padding-right: 2vw;
}

.VerticalWidgetAdjustBlock-VerticalOffset {
  margin-top: 1vh;
}

.AdjustValueBlockVerticalOffset {
  padding-left: 2vw;
  padding-right: 2vw;
}