.VerticalWidget {
  text-align: center;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.WidgetTitle {
  background-color: #4B4B4B;
  color: black;
  margin: 10px;
}

.AdjustChannelBlockValue {
  padding-left: 2vw;
  padding-right: 2vw;
}

.VerticalWidgetAdjustBlock-TimePerDivision {
  margin-top: 1vh;
}

.AdjustValueBlockTimePerDivision {
  padding-left: 2vw;
  padding-right: 2vw;
}

.VerticalWidgetAdjustBlock-VerticalOffset {
  margin-top: 1vh;
}

.AdjustValueBlockVerticalOffset {
  padding-left: 2vw;
  padding-right: 2vw;
}

.ChannelTitle {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-bottom: 1vh;
  font-weight: bold;
}

.Channel1ButtonText {
  font-weight: bold;
}

.Channel2ButtonText {
  font-weight: bold;
}

.Channel3ButtonText {
  font-weight: bold;
}

.Channel4ButtonText {
  font-weight: bold;
}

.DivisionTitle {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-weight: bold;
}

.CoarseControlButton {
  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vh;
}

.FineControlButton {
  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vh;
}

.NanoVoltButtonVertical {
  margin-top: 1vh;
}

.OffsetTitle {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-top: 1vh;
  font-weight: bold;
}

.CouplingTitle {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-weight: bold;
}

.ProbeTitle {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-weight: bold;
}

.BandwidthTitle {
  background-color: #4B4B4B;
  color: black;
  margin-left: 50px;
  margin-right: 50px;
  font-size: small;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-weight: bold;
}