.LargeButton {
  position: fixed;
  display: flex;
}

.StopButton {
  position: relative;
  top: 20px;
  width: 7vw;
  height: 2vh;
  color: black;
  background: red;
  z-index: 100;
}

.SingleButton {
  position: relative;
  left: 8vw;
  width: 7vw;
  height: 2vh;
  color: black;
  background: yellow;
  z-index: 100;
}